<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
</head>
<body style="text-align: center; background-color: palegreen;">
    <br><br>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-black-600">Library Management System</h1>

    <br><br>
    <div class="flex justify-center items-center">
        <div class="grid grid-cols-1 gap-10 text-lg text-black">
            <a href="viewbooks/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">View Books</a>
            <a href="reservebooks/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Reserve Books</a>
            <a href="cancel/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Cancel Books</a>
            <a href="viewreservations/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">View Reservations</a>
        </div>
    </div>

    
</body>
</html>