<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="text-align: center; background-color: palegreen;">
    <br><br>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-black-600">View Reservations</h1>
    <br>
    <table class="w-full">
        <tr class="w-1/2 bg-green-400">
            <th class="p-2 text-center">Reserver ID</th>
            <th class="p-2 text-center">Name</th>
            <th class="p-2 text-center pr-4">ISBN Number</th>
            <th class="p-2 text-center pr-4">Mail ID</th>
            <th class="p-2 text-center pr-4">Phone Number</th>
            <th class="p-2 text-center pr-4">Status</th>
        </tr>
        {% for user in users %}
        <tr class="">
            <td class="p-2">{{user.resver_id}}</td>
            <td class="p-2 text-center">{{user.name}}</td>
            <td class="p-2 text-center">{{user.isbn}}</td>
            <td class="p-2 text-center">{{user.mail_id}}</td>
            <td class="p-2 text-center">{{user.phno}}</td>
            <td class="p-2 text-center">{{user.status}}</td>
        </tr>
        {% endfor %}
        
       
    </table>
    
    <br><br>
    <button onclick= "location.href='/guest/'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Back</button>
    
</body>
</html>